img {
  height: auto;
  width: 750px;
}

*{
  text-align: center  
}


* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
